<template>
  <div class="app">
    <nav>
      <div class="brand_title">MISITIOBA</div>
      <div class="brand_quote">
        Développeur web militant pour un Internet libre, étique et solidaire.
        {{$t('welcome')}}
      </div>
    </nav>

      <div class="top_message">
      <div class="notification">
        <div class="notification_title">
            Technical Assistance Provider for Platform Co-ops in France
        </div>
        <div class="notification_text">
           Commited to help local Entrepreneurs, Associations and Cooperatives bulding collaborative free software for their business.
           <br/><br/>
           
           <br/>- Project planning
           <br/>- Software Architecture & Design
           <br/>- Software development
           <br/>- DevOps
           <br/>- Local Hosting Provider
           <br/>- Local SaaS Provider
           <br/>- Formations (DevOps / Web development)
           <br/><br/>
           Check below and contact me!
        </div>
      </div>
    </div>

    <nuxt class="content" />
    <img class="cat" src="~/assets/cat.png" />
  </div>
</template>

<style lang="scss">

html {
  /**
  earth
  https://images.pexels.com/photos/5439/earth-space.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940

  pisselit
  https://images.pexels.com/photos/21323/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260
  */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    url("https://images.pexels.com/photos/21323/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  overflow: auto;
  height: calc(100vh);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.content {
  max-width:1200px;
  margin: 0 auto;
  display:block;
  padding: 10px;
}

nav{
  display:grid;
  grid-template-columns: 200px 1fr;
  max-width:1200px;
  margin: 0 auto;
  @media only screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.brand_title {
  margin-top: 10px;
  font-size: 40px;
  color:var(--main-color);
  text-align: center;
  font-weight: bold;
  @media only screen and (max-width: 992px) {
    font-size: 50px;
  }
}

.brand_quote {
  align-self: center;
  justify-self: end;
  text-align: center;
  margin-bottom: 0px;
  font-weight: lighter;
  color: var(--main-color);
  font-size: 20px;
  font-style: italic;
  padding: 10px;
   @media only screen and (max-width: 992px) {
    justify-self: center;
  }
}


a {
  font-size: 20px;
  padding: 10px 0px;
  display: block;
  width: fit-content;
  color: var(--main-color);
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

p {
  font-family: "Baloo Paaji 2", cursive;
  font-weight: 300;
  font-size: 16px;
  color: #333;
}


.cat {
  position: fixed;
  bottom: -6px;
  right: -15px;
  max-width: 50px;
  transform: rotate(5deg);
}


.top_message{
 padding:50px;
  background-image: url(https://images.pexels.com/photos/869258/pexels-photo-869258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  
}
.top_message img{
  max-width:100%;
}
.notification{
  padding:20px;
  max-width:1400px;
  margin: 0 auto;
  background-color:var(--main-color);
  display:flex;
  flex-direction: column;
}
.notification_text{
  text-align: center;
  padding:10px;
  font-size:18px;
  color:white;
  font-weight: 500;  
  font-family: 'Open Sans', sans-serif;
}
.notification_title{
  text-align:center;
  font-size:30px;
  color:white;
  font-weight: bold;
  float:right;
  font-family: 'Baloo Paaji 2', cursive;
}
</style>
